.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 6%;
}

.popular {
    width: 100%;
    color: #fff;
    text-align: left;
}

.movieCard {
    height: 460px;
}

.movieCard:hover img{
    background-color: #000;
    opacity: 80%;
    transition: all 1s;
}

.title {
    width: 260px;
    word-break: break-all;
    color: #fff;
    text-align: center;
}

.release_date {
    color: #fff;
    font-size: small;
    text-align: center;
}

.moviePoster {
    width: 260px;
    height: 380px;
    border-radius: 4px;
}

#fly {
    animation: ani 1s infinite alternate;
}

@keyframes ani {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0, 50px);
    }
}
