.profile {
  display: flex;
  background-color: antiquewhite;
}

Image {
  border: 1px solid salmon;
  display: block;
  position: absolute;
  background: url(http://img.cgv.co.kr/R2014/images/common/default_profile.gif)
    0 0 no-repeat;
}

.photoWrap {
  width: 300px;
  height: 300px;
  background-color: brown;
}

.Info {
  width: 100%;
  background-color: yellow;
}

.accountName {
  height: 100px;
  background-color: green;
}

.accountDetail {
  height: 200px;
  background-color: yellowgreen;
}
