.col,
.row {
  border: 2px solid white;
}

.photo {
  border-radius: 50%;
  left: 0;
  top: 0;
  display: block;
  position: relative;
  width: 180px;
  height: 180px;
  margin: 50px auto;
  background: url(http://img.cgv.co.kr/R2014/images/common/default_profile.gif)
    0 0 no-repeat;
}

.accountName {
  height: 140px;
}

.accountDetail {
  height: 140px;
}
