@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v3/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa25L7W0Q5n-wU.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.bodyInfo {
  margin: 0;
  overflow-y: hidden;
}

.outer {
  height: 100vh;
  overflow-y: auto;
}

.Infoheader {
  position: absolute;
  clip: rect(20px, 220px, 220px, 20px);
}

/* 화면에서 스크롤바 안보이게 */
.outer::-webkit-scrollbar {
  display: none;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.Infohead {
  background-color: black;
}

.Info2 {
  background-color: black;
}
.Map {
  width: 60vh;
}
.InfoMap {
  background-color: black;
}

.divider {
  width: 100%;
  height: 5px;
  background-color: gray;
}

// ------------------- info

.Infohead {
  color: antiquewhite;
  display: flex;
  margin: 100px 200px 200px 200px;
  align-items: center;

  h1,
  h2,
  h3 {
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: grid;
  }

  h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: left;
    margin: 50px 50px 40px;
  }

  h2 {
    font-weight: 400;
    margin: 50px 0 10px;
  }

  p {
    margin: 30px 0 30px 0;
    font-size: 18px;
    color: #fdfdfd;
  }
}

.Info2 {
  color: antiquewhite;
  display: flex;
  margin: 340px 260px;
  align-items: center;
  h1,
  h2,
  h3 {
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    display: grid;
  }

  h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: left;
    margin: 50px 0px 90px 100px;
  }

  h2 {
    font-weight: 400;
    margin: 40px 0 30px;
  }

  p {
    margin: 30px 0 30px 0;
    font-size: 18px;
    color: #fdfdfd;
  }
}

.InfoMap {
  display: flex;
  color: antiquewhite;
  // margin-top: 50px;
  // margin-bottom: 50px;
  margin: 30px 180px;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: black;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:focus {
    text-decoration: none;
  }
  a:hover,
  a:active {
    text-decoration: none;
  }
  h1 {
    margin-bottom: 50px;
  }

  Table {
    border-style: 1 solid;
    border-color: red;
    color: white;
    vertical-align: middle;
    text-align: left;
  }
}

.table-striped-columns > :not(caption) > tr > :nth-child(even) {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: #e9ecef;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
