.player_wrapper{
    text-align: right;
    z-index: 100;
    position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background-color: rgba(14, 13, 13, 0.5);
}

.epi {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    
}

.close{
    width: 80px;
    height: 80px;
}
