.join {
  color: #f8f8f8;
  height: 100%;
  width: 100%;
}

.join.marginTop {
  height: 100px;
}

.join .signUp {
  font-size: 30px;
}

.join a:link,
.join a:visited,
.join a:active {
  text-decoration: none;
  color: #f8f8f8;
}

.join a:hover {
  text-decoration: none;
  color: #888888;
}

.join .logo,
.join .submit {
  text-align: center;
}

.joinButton {
  background-color: #343a40;
  color: #f8f9fa;
}

.join .row {
  margin-bottom: 10px;
}

.join .btn {
  margin-top: 20px;
}
