.logo {
  margin-top: 50px;
}

.loginBackground {
  margin-top: 0;
  width: 100%;
  height: 1080px;
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/ac9aedf1-a687-4c5d-965c-2fc3eac84aea/17d27220-3eb7-4e8f-aad7-978843af0588/KR-ko-20221206-popsignuptwoweeks-perspective_alpha_website_large.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.loginOpacity {
  width: 100%;
  height: 1080px;
  background-color: rgba(34, 34, 34, 0.5);
}

.TopMargin {
  height: 5px;
}

.ConMargin {
  height: 100px;
}

.topLogo {
  color: #f8f8f8;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
}

.containerLog {
  margin-top: 0;
}

.loginBox {
  background-color: rgba(34, 34, 34, 0.7);
  display: block;
  margin-top: 2000px;
  margin: auto;
  padding: 50px 10px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 5px 5px 40px #343a40;
}

.btn {
  backgroud-color: #fff;
  color: #fff;
}

.containerLog a:link,
.containerLog a:visited,
.containerLog a:active {
  text-decoration: none;
  color: #f8f8f8;
}

.containerLog a:hover {
  text-decoration: none;
  color: #888888;
}

.error {
  margin-bottom: 0;
  height: 30px;
  color: red;
}

.containerLog .id {
  border-radius: 5px 5px 0 0;
  margin-bottom: 0;
}
.containerLog .pwd {
  border-radius: 0 0 5px 5px;
  border-top: 0;
}

.containerLog .form-control {
  height: 50px;
}

.containerLog .joinLink {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: right;
}
