.MypageWrapper {
  margin-top: 80px;
}

.infoComp {
  padding: 0;
}

.photo {
  border-radius: 50%;
  left: 0;
  top: 0;
  display: block;
  position: relative;
  width: 180px;
  height: 180px;
  margin: 50px auto;
  background: url(http://img.cgv.co.kr/R2014/images/common/default_profile.gif)
    0 0 no-repeat;
}
.wrapperAccountName {
  margin: 10px;
  padding: 10px;
}
.accountName.align-end {
  text-align: left;
}

.InfoMargin {
  height: 80px;
}
.DetailMargin {
  height: 10px;
}

.DetailMargin.btline {
  width: 200px;
  border-bottom: 1px solid rgba(206, 206, 206, 0.8);
}

.align-end {
  vertical-align: bottom;
  margin: 0;
}

.Info,
.InfoMargin,
.accountName,
.wrapperAccountName {
  padding: 0;
}

.tab {
  vertical-align: bottom;
}

.LoginId {
  font-size: 30px;
  font-weight: 700;
  display: inline-block;
}

.LoginNick {
  font-size: 15px;
  display: inline-block;
  margin-left: 15px;
}

.accountDetail {
  height: 50px;
}

.MypageWrapper {
  text-align: left;
}

.likeMovieTab,
.likeReviewTab,
.recommandTab {
  font-size: 20px;
  text-align: center;
  vertical-align: bottom;
  padding: 50px 0 20px;
  border-bottom: 1px solid rgb(255, 255, 255, 0.6);
}

.mgClickBox {
  margin-top: 50px;
}

.LikesMovieImg {
  margin: 20px;
  display: block;
}

.likeMovieCard {
  text-align: center;
}

.rate {
  justify-content: center;
  display: inline-block;
}

.MyreviewWrapper {
  color: black;
  background-color: rgba(248, 249, 250, 0.8);
  margin: 0px auto 30px;
  border-radius: 15px;
}

.LikesMovieImg {
  display: inline-block;
  margin: auto;
}

.moviePoster {
  padding: 0;
  border-radius: 15px 0 0 15px;
  overflow: hidden;
  display: flex;
}

.reviewDetail {
  padding: 20px 0 0 1.5rem;
  text-align: left;
}

.myReviewTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.myReviewContent {
  margin-bottom: 10px;
  height: 120px;
}

.myReviewRates {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.myReviewDate {
  font-size: 12px;
  margin-bottom: 0;
}

.recommandContainer {
  display: inline-block;
  margin: 20px auto;
}

.recommanBox {
  margin: 0;
}

.recTitle {
  margin: 10px;
}

.MyLikes {
  margin-bottom: 20px;
}

.MyReviewBox {
  width: 210px;
  margin-left: 0;
}
