.Review-container {
  // width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
  border-radius: 4px;
  overflow: hidden;
  // background: #20232a;
  color: black;
  text-align: -webkit-left;

  textarea {
    margin: 50px auto;
    width: 1200px;
    height: 150px;
    resize: none; // 사이즈 고정
    padding: 5px;
  }
}

.Review-title {
  display: inline-block;
  width: 100%;
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  color: antiquewhite;
}

.ReviewTitleCard {
  background-color: black;
  margin-bottom: 5%;
}

.Reviewpage {
  background: mintcream;
  width: 1200px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;

  textarea {
    margin: 50px auto;
    width: 1200px;
    height: 150px;
    resize: none; // 사이즈 고정
    padding: 5px;
  }
}

.Review-box {
  text-align: initial;
  .wantFlex {
    display: flex;
    margin: inherit;
  }
}

.CardBody {
  font-family: "Cafe24Ssurround";
}
