.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 6%;
}
.popular{
    width: 100%;
}

.movieCard {
    height: 525px;
}

.title {
    width: 300px;
    word-break: break-all;
    color: white;
    font-family: "NanumSquareRound";
}

.release_date {
    color: white;
    font-family: "NanumSquareRound";
    font-size: small;
}

.moviePoster {
    width: 260px;
    height: 380px;
    border-radius: 4px;
}

#fly {
    animation: ani 1s infinite alternate; 
}

@keyframes ani {
    0%{transform: translate(0,0);}
    100%{transform: translate(0,50px);}
}