
.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .img{
    width: 93%;
    height: 96%;
    margin-bottom: 5px;
    border-radius: 7%;
    box-shadow: 0px 0px 8px  rgb(231, 46, 46);
  }

  .img:hover{
    transform: translate(-15px, -15px);
		transition: .5s cubic-bezier(.5,.03,.41,1);
  }